<div ng-if="loggedin">
	<div>
		<a href="#login">logout</a>
	</div>
	<br />
	<div>
		<h3>Add a new lot</h3>
		Location: &nbsp; <input type="text" name="lotLocation" ng-model="lotLocation" /><br />
		Y Permit Capacity: &nbsp; <input type="text" ng-model="yCap" /><br />
		G Permit Capacity: &nbsp; <input type="text" ng-model="gCap" /><br />
		A Permit Capacity: &nbsp; <input type="text" ng-model="aCap" /><br />
		Permit required start time ("x am" / "x pm"): &nbsp; <input type="text" ng-model="startTime" /><br />
		Permit required end time ("x am" / "x pm"): &nbsp; <input type="text" ng-model="endTime" /><br />

		<input
			type="button"
			value="Connect Twitter Account"
			ng-click="connectTwitter(lotLocation,yCap,gCap,aCap,startTime,endTime)"
		/>
		<span ng-if="twitterConnected" class="glyphicon-ok" style="height: 15px; color: green"></span>
	</div>
	<h4 ng-click="toggleConnect()">
		Connect to another lot
		<span ng-show="connectHidden()">+</span>
		<span ng-hide="connectHidden()">-</span>
	</h4>
	<form action="/" method="post" ng-hide="connectHidden()">
		Chat server URL:<br>
		<input type="text" name="url"><br>
		<input type="submit" value="Submit">
	</form>
</div>
